<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Albatros Auto Reservation</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
            background-image: url('static/images/img-2.jpg');
            }
        </style>
	</head>
	<body>
        {% if errordata == None and button == 'success' %}
            <div class="w3-container w3-green">
                <h1>Order successfully placed...</h1>
            </div>
        {% elif errordata == None and button == 'cancel' %}
            <div class="w3-container w3-orange">
                <h1>Current order canceled...</h1>
            </div>
        {% else %}
            <div class="w3-container w3-red">
                <h1>Failed...</h1>
            </div>
            <div class="w3-container w3-red">
                <h3>{{errordata}}</h3>
            </div>
        {% endif %}
    {% if button != 'None'  %}
    <form class="w3-container w3-light white" method="POST" action="/home">
        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Back</button>
    </form>
    {% endif %}
	</body>
</html>